.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  width: 70%;
  margin-bottom: 30px;
  margin: 0 auto;
}
.form {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.radioButtonContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 150px);
  border: solid red 1px;
}

/* .inputsContainer {
  display: flex;
  flex-direction: row;
} */

/* .radioButtonContainerDisabled {
  border: solid red 1px;
} */

.label {
  margin-right: 10px;
}

.radioButton {
}

.searchBarContainer {
  width: 100%;
  border: solid red 1px;
}

.searchbar {
  /* margin-left: 30px;
  margin-right: 10px; */
}
.submitButtonContainer {
  text-align: center;
  grid-row: 2;
  grid-column: 1 / -1;
  border: solid red 1px;
}
