.grid {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 120px;
  column-gap: 0px;
  row-gap: 10px;
  margin-top: 10px;
}

.wrapper {
  width: 100%;
  height: 100%;
  border-right: 1px solid var(--grey);
}

.container {
  background: var(--offGrey);
  border-top: 1px solid red;
  margin: 0px auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
}

.sourceAndTitle {
  padding: 5px 3px;
  min-height: 80%;
  /* TODO find a better way of fixing the hieght */
  height: 70%;
}

.source {
  color: red;
  font-weight: 700;
  font-size: 1.1rem;
}

.title {
  font-size: 1rem;
}
.link {
  padding-bottom: 5px;
  padding-left: 3px;
}

.link > a {
  color: var(--blue);
  font-size: 1rem;
}

.grid :nth-child(4) {
  border-right: none;
}

@media (max-width: 500px) {
  .grid {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
  }
  .sourceAndTitle {
    line-height: 0.9;
  }
  .source {
    font-size: 1.1rem;
  }

  .title {
    font-size: 0.9rem;
    padding-bottom: 10px;
  }
  .link {
    padding-bottom: 10px;
  }

  .link > a {
    color: var(--blue);
    font-size: 0.7rem;
  }
  .grid :nth-child(2) {
    border-right: none;
  }
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 120px);
  }

  .grid :nth-child(2) {
    border-right: none;
  }
}

@media (max-width: 1200px) {
  .sourceAndTitle {
    line-height: 1;
  }
  .source {
    font-size: 1rem;
  }

  .title {
    font-size: 0.9rem;
    padding-bottom: 10px;
    line-height: 0.85;
  }
  .link {
    padding-bottom: 10px;
  }

  .link > a {
    color: var(--blue);
    font-size: 0.8rem;
  }
}
