.container {
  width: 100%;
  /* padding: 0 1rem;
  margin: 20px 50px; */
}
.menuButtonContainer {
}

@media screen and (min-width: 600px) {
  .menuButtonContainer {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .pageTitle {
    margin-left: 5%;
  }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .pageTitle {
    margin-left: 2.5%;
  }
}
