.wrapper {
  grid-area: two;
  width: 100%;
  min-height: 100%;
}

.container {
  grid-area: two;
  background: var(--offGrey);
  border-top: 1px solid red;

  margin: 0px auto;
  width: 97%;
  /* padding: 0 0px; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  min-height: 100%;
}
.sourceAndTitle {
  grid-column: 1;
  grid-row: 1 / span 3;
  padding: 0 3px 0 3px;
}

.source {
  font-size: 1.3rem;
  color: red;
  font-weight: 700;
}
.title {
  font-size: 1.2rem;
}

.image {
  grid-column: 2 / -1;
  grid-row: 1 / -1;
}
.image > img {
  height: 100%;
  width: 100%;
}

.link {
  grid-column: 1;
  grid-row: 4;
  font-size: 1rem;
  margin: 3px;
  padding-bottom: 10px;
  display: flex;
  align-items: flex-end;
}

.link > a {
  color: var(--blue);
}
