.containerTypeOne {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 80px);
  grid-template-areas:
    "one   two  two   two"
    "one   two  two   two"
    "one   two  two   two"
    "three two  two   two"
    "three four four five"
    "three four four five"
    "three four four five";
  gap: 10px;
  margin-top: 20px;
}

.articleContainer {
  width: 100%;
  height: 100%;
  padding: 4% 5px;
}

.containerTypeOne div:nth-child(1) {
  grid-area: one;
  display: flex;
  flex-direction: column;
  padding: 4% 5px;
}
.containerTypeOne div:nth-child(2) {
  grid-area: two;
  display: grid;
  grid-template-columns: 40% 60%;
}
.containerTypeOne div:nth-child(2) .articleImage {
  order: 1;
}

.containerTypeOne div:nth-child(3) {
  grid-area: three;
}
.containerTypeOne div:nth-child(4) {
  grid-area: four;
}
.containerTypeOne div:nth-child(5) {
  grid-area: five;
}

.articleImage {
}

.articleTitle {
  height: 60%;
  font-size: 1.1rem;
  font-weight: 600;
}

.articleItem {
  height: 20%;
  display: flex;
  align-items: center;
}

.containerTypeTwo {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 80px;
  gap: 10px;
}

.container div:nth-child(1) {
  grid-area: one;
  display: flex;
  flex-direction: column;
  padding: 4% 5px;
}
.container div:nth-child(2) {
  grid-area: two;
}
.container div:nth-child(3) {
  grid-area: three;
}
.container div:nth-child(4) {
  grid-area: four;
}
.container div:nth-child(5) {
  grid-area: five;
}
.container div:nth-child(6) {
  grid-area: six;
}
.container div:nth-child(7) {
  grid-area: seven;
}
.container div:nth-child(8) {
  grid-area: eight;
}
.container div:nth-child(9) {
  grid-area: nine;
}
.container div:nth-child(10) {
  grid-area: ten;
}
.container div:nth-child(11) {
  grid-area: eleven;
}
.container div:nth-child(12) {
  grid-area: twelve;
}
.container div:nth-child(13) {
  grid-area: thirteen;
}
.container div:nth-child(14) {
  grid-area: fourteen;
}
.container div:nth-child(15) {
  grid-area: fifteen;
}
.container div:nth-child(16) {
  grid-area: sixteen;
}
.container div:nth-child(17) {
  grid-area: seventeen;
}
.container div:nth-child(18) {
  grid-area: eighteen;
}
.container div:nth-child(19) {
  grid-area: nineteen;
}
.container div:nth-child(20) {
  grid-area: twenty;
}
.container div:nth-child(21) {
  grid-area: twentyOne;
}
.container div:nth-child(22) {
  grid-area: twentyTwo;
}

.source {
}

.link {
}
