.display {
  width: 80%;
  margin: 10px auto 0px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 400px) {
  .display {
    width: 95%;
    flex-direction: column;
  }
}
