.grid {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, minmax(70px, auto));
  grid-template-areas:
    "one   two  two   two"
    "one   two  two   two"
    "one   two  two   two"
    "three four four five"
    "three four four five"
    "three four four five";
  column-gap: 0px;
  row-gap: 10px;
  margin-top: 10px;
}
