.display {
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.display :nth-child(3) {
  height: var(--rowTwoheight);
}

.display :nth-child(5) {
  height: var(--rowTwoheight);
  border-right: none;
}
