.wrapper {
  width: 25%;
  height: var(--rowTwoHeight);
  margin-bottom: var(--bottomMargin);
}

.container {
  background: var(--offGrey);
  border-top: 1px solid red;
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.image {
  height: auto;
  width: 100%;
}
.sourceAndTitle {
  padding: 10px 4px 0px 4px;
  height: 80%;
}

.source {
  font-size: 1.2rem;
  color: red;
  font-weight: 700;
}
.title {
  font-size: 1.1rem;
}

.link {
  font-size: 1rem;
  padding: 0px 3px 5px 3px;
  display: flex;
  align-items: flex-end;
}

.link > a {
  color: var(--blue);
}

.link > a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .wrapper {
    width: 100%;
    border-right: none;
    height: 350px;
    margin-bottom: 10px;
  }

  .image {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .sourceAndTitle {
    height: 80%;
    padding: 10px 4px 0px 4px;
  }
  .source {
    font-size: 1.4rem;
    color: red;
    font-weight: 700;
  }
  .title {
    font-size: 1.2rem;
  }
  .link {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .wrapper {
    width: 33.3%;
    border-right: none;
  }
  .sourceAndTitle {
    padding: 5px 4px 0px 4px;
  }
  .image {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .source {
    font-size: 1.2rem;
  }
  .title {
    font-size: 1.1rem;
  }
  .link {
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
  }
}
