html,
:root {
  --blue: #0070f3;
  --floralWhite: #f9f7f1;
  --seaGreen: #388659;
  --black: #000000;
  --oxfordBlue: #14213d;
  --orangeWeb: #fca311;
  --offGrey: #f6f6f6;
  --grey: #808080;
  --rowOneheight: 350px;
  --rowTwoHeight: 300px;
  --bottomMargin: 10px;
  --mobileviewWidth: 500px;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* line-height: 1.25; */
  font-size: 18px;
  /* background: var(--seaGreen); */
}

* {
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  margin-left: 10.8%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}
@media (max-width: 500px) {
  body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* line-height: 1; */
  }
  h1 {
    margin-left: 7%;
  }
}
